.sudoku-board {
  --sudoku-board-bg: black;
  --sudoku-region-bg: black;
  --sudoku-region-odd: black;
  --sudoku-region-bg-odd: black;

  --sudoku-cell-text: #0000ff;
  --sudoku-cell-given-text: var(--dark);
  --sudoku-cell-solved-text: var(--dark);
  --sudoku-cell-selected-text: var(--dark);

  --sudoku-cell-border: black;

  --sudoku-cell-bg: var(--light);
  --sudoku-cell-bg-given: var(--grey-3);
  --sudoku-cell-bg-hover: #b4e6ff;
  --sudoku-cell-bg-selected: #b4e6ff;
  --sudoku-cell-bg-solved: #b4ffe6;
  --sudoku-cell-bg-given-solved: #87c0ac;
  --sudoku-cell-bg-sieve-item: #c04fd6;
  --sudoku-cell-bg-region-selected: var(--light-grey);

  // Background colors for invalid cells
  --sudoku-invalid-1: #ffaaaa;
  --sudoku-invalid-2: #ff7777;
  --sudoku-invalid-3: #ff3333;
  // Givens in an invalid area are highlighted slightly darker
  --sudoku-invalid-1-given: #663636;
  --sudoku-invalid-2-given: #aa5a5a;
  --sudoku-invalid-3-given: #ff8888;

  // Default size: medium
  --region-gap: 2px;
  --cell-gap: 1px;
  --cell-size: 27px;
  --font-size: 22px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  background-color: var(--sudoku-board-bg);
  border: 1px solid var(--sudoku-board-bg);

  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;

  >div.sudoku-region {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    >.sudoku-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--sudoku-cell-text);
      background-color: var(--sudoku-cell-bg);
      border: none;

      &.candidates-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }

      >.sudoku-cell-candidate {
        display: flex;
        justify-content: center;
        align-items: center;

        &.interactive {
          &:hover {
            background-color: #6eb9de;
          }

          &:focus {
            background-color: var(--sudoku-cell-bg-selected);
            // color: var(--sudoku-cell-selected-color);
          }
        }
      }

      &.interactive {
        &:hover {
          background-color: var(--sudoku-cell-bg-hover);
        }

        &:focus {
          background-color: var(--sudoku-cell-bg-selected);
          // color: var(--sudoku-cell-selected-color);
        }
      }

      &.invalid-1 { background-color: var(--sudoku-invalid-1); }
      &.invalid-2 { background-color: var(--sudoku-invalid-2); }
      &.invalid-3 { background-color: var(--sudoku-invalid-3); }

      &.given {
        background-color: var(--sudoku-cell-bg-given);
        color: var(--sudoku-cell-given-text);
        font-weight: 700;

        &.solved {
          background-color: var(--sudoku-cell-bg-given-solved);
          color: var(--sudoku-cell-solved-text);
        }
      }

      &.solved {
        background-color: var(--sudoku-cell-bg-solved);
        color: var(--sudoku-cell-solved-text);
      }

      &:focus-visible {
        outline: none;
      }

      &.sieve-item {
        background-color: var(--sudoku-cell-bg-sieve-item);
      }
    }
  }

  &.size-xs {
    --region-gap: 1px;
    --cell-gap: 0px;
    --cell-size: 12px;
    --font-size: 12px;
  }

  &.size-s {
    --region-gap: 2px;
    --cell-gap: 1px;
    --cell-size: 18px;
    --font-size: 16px;
  }

  &.size-m {}

  &.size-l {
    --region-gap: 4px;
    --cell-gap: 2px;
    --cell-size: 36px;
    --font-size: 28px;
  }

  &.size-xl {
    --region-gap: 4px;
    --cell-gap: 2px;
    --cell-size: 42px;
    --font-size: 32px;
  }

  gap: var(--region-gap);
  >div.sudoku-region {
    gap: var(--cell-gap);
    >.sudoku-cell {
      width: var(--cell-size);
      height: var(--cell-size);
      font-size: var(--font-size);
      >.sudoku-cell-candidate {
        width: calc(var(--cell-size) / 3);
        height: calc(var(--cell-size) / 3);
        font-size: calc(var(--cell-size) / 3);
      }
    }
  }
}

.sudoku-board-overlay {
  position: absolute;
}
